
<div id="particles-js" class="jumbotron text-center">
  <h1>Betty Mutai</h1>
  <p><b>Software Engineer</b></p>
</div>
<!-- about section -->
<div class="container full-page" id="about">
  <article>
    <h1 class="welcome">WELCOME TO MY SIDE OF THE WEB</h1>
    <hr class="grey-hr">
    <p class="bio">I'm Betty Mutai, a web developer / designer based in Nairobi, Kenya. I have a Bachelors degree in Computer Science and i love to create web technologies.</p>
    <br>
    <%= image_tag ("me.png"), id: "me"%>
  </article>
  <div class="links">
    <a href="https://github.com/BettyMutai"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/betty-mutai-780369a1/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a><br>
    <a href="https://docs.google.com/document/d/1S6D_oCbrvGCSOiVRGrg1p6B82kfOhLlH3QIqX_ZPNtE/edit?usp=sharing" target="_blank"><h1 style="color: #D3A180;">Curriculum Vitae</h1></a>
  </div>
</div>
<!-- skills section -->
<div class="full-page" id="skills">
  <div class="row" style="text-align: center">
    <h2 class="margin-top-5 skills-h2 white-text">SKILLS STACK</h2>
    <hr class="grey">
    <ul class="skill-ul">
    <% @skills.each do |skill|%>
    <br>
      <li class="skill-li animated flash"><%= link_to skill.name, skill %>
        <% if skill.rating.to_i >= 7%>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif skill.rating.to_i < 7 && skill.rating.to_i >= 4%>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <% elsif skill.rating.to_i < 4 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <%end%>
      </li>
    </ul>
  </div>
</div>
<!-- projects section -->
<div class="full-page" id="projects">
  <div class="row">
    <h2 class="h margin-top-5">PROJECTS</h2>
     <hr class="grey">
    <br>
    <div class="container">
    <% @projects.each do |project| %>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="<%= project.picture %>" alt="<%= project.name %>">
      <div class="card-body">
        <h4 class="card-title"><%= link_to project.name, project_path(project) %></h4>
      </div>
    </div>
    <% end %>
    </div>
    <!-- <div class="container" id="repos">
      <%= link_to "Github Repos", github_path %>
    </div> -->
    </div>
  </div>

    <!-- contact -->
    <h2 class="h margin-top-5">CONTACTS</h2>
    <hr class="grey">
    <div class="content" style="margin-top: 100px;">
       <a href="mailto:bettymutai00@gmail.com"><i class="svg email"></i></a>
       <a href="https://facebook.com/hein.moelwin" target="_blank"><i class="svg facebook"></i></a>
       <a href="https://github.com/BettyMutai" target="_blank"><i class="svg github"></i></a>
       <a href="https://www.linkedin.com/in/betty-mutai-780369a1/" target="_blank"><i class="svg linkedin"></i></a>
     </div>
