<p id="notice"><%= notice %></p>

<h1><%= @skill.name %></h1>
<div class="description">
  <%= @skill.description %>
</div>
<br>
<%= link_to 'Projects Under Skill', skill_projects_path(@skill,@project) %>
<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
