<p id="notice"><%= notice %></p>
<div class="container">
  <%= @project.name %>
  <%= image_tag @project.picture_url.to_s %>
  <%= link_to @project.link %>
  <%= @project.description %>

</div>

<%= link_to 'Edit', edit_skill_project_path(@project) %> |
<%= link_to 'Back', skill_path %>
