<div class="project">

<p id="notice"><%= notice %></p>

<div class="container white-text">
    <a href="<%=@project.link%>" target="_blank">
      <h4><%= @project.name %></h4>
    </a>
    <%= image_tag @project.picture_url.to_s, class:"image" %>
    <p><%= @project.description %></p>
</div>
</div>

<h2 class="white-text">Skills Used</h2>
<div class="skills_projects">
  <div class="container">
    <% @project.skills.each do |skill| %>
      <p class="white-text"><%= skill.name %></p>
    <% end %>
  </div>

</div>
