<div class="project">

<p id="notice"><%= notice %></p>

<div class="container white-text">
  <h4><%= @project.name %></h4>
    <%= image_tag @project.picture_url.to_s, class:"image" %>
  <p><%= link_to @project.link %></p>
  <p><%= @project.description %></p>
</div>
</div>

<h2 class="white-text">Skills Used</h2>
<div class="skills_projects">
  <div class="conatiner">
    <% @project.skills.each do |skill| %>
    <% skill.name %>
    <% end %>
  </div>

</div>
