<div class="project">

<p id="notice"><%= notice %></p>

<div class="container">
  <h4><%= @project.name %></h4>
    <%= image_tag @project.picture_url.to_s, class:"image" %>
  <p><%= link_to @project.link %></p>
  <p><%= @project.description %></p>
</div>
</div>
