<div class="container">
<p id="notice"><%= notice %></p>
<h1 class="white-text">Welcome to my Blog :)</h1>

<% @posts.each do |post| %>
<div class="well post-well">
<h4><%= link_to post.title, post,  class:'post-title-a' %></h4>
<%= truncate(post.body, length: 350)  %>
<%= link_to 'Read more', post %>
<h5><%= post.created_at.strftime('%A, %B %d') %></h5>
</div>
<% end %>
</div>
