<div class="container">
	<div class="container post-container">
		<p id="notice"><%= notice %></p>
		<h1 class="white-text">
		<%= @post.title %>
		</h1>
		<p class="white-text">
			<%= @post.body %>
		</p>
		<h3 class="white-text">Comments:</h3>
		<div class="main">
			<% if @post.comments.nil? %>
			<p>No comments yet!</p>
			<% else %>
			<%= render @post.comments %>
			<% end %>
		</div>
		<br>
		<div class="margin-bottom">
		<%= link_to 'Add a comment', new_post_comment_path(@post), id: 'new_link', remote: true %>
		</div>
	</div>
</div>
