<!DOCTYPE html>
<html>
  <head>
    <title>Betty Mutai</title>
    <%= csrf_meta_tags %>
      <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://emojipedia-us.s3.amazonaws.com/thumbs/160/google/56/woman_emoji-modifier-fitzpatrick-type-6_1f469-1f3ff_1f3ff.png">
  </head>

  <body>
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top affix-top" data-spy="affix">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-nav" aria-hidden="">
             <span class="sr-only">Toggle navigation</span>
             <span class="glyphicon glyphicon-menu-hamburger"><span>
           </button>
           <a class="navbar-brand page-scroll" href="/">Betty Mutai</a>
         </div> <!-- navbar-header -->
         <div id="menu-nav" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             <li>
               <a class="page-scroll smoothScroll" href="/posts">Blog</a>
             </li>
             <%if current_user && current_user.user_role %>
             <li>
               <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
             </li>
             <%else%>
             <li>
               <%= link_to 'Log In', new_user_session_path %>
             </li>
             <li>
               <%= link_to 'Sign Up', new_user_registration_path %>
             </li>
             <%end%>
             <li>
               <%if can? :manage, User%>
             <%= link_to 'Admin', rails_admin_path%>
             <%end%>
            </li>
           </ul>
         </div> <!-- navbar-collapse -->
       </div> <!-- container-fluid -->
     </nav>
    <%= yield %>
    <!-- <footer class="footer">
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         Copyright &copy; Betty Mutai 2017.
       </div>
     </div>
   </div>
 </footer> -->
  </body>
</html>
